
/*-------------------------
  common
-------------------------*/
$block-yellow: #FFEA7B;
$block-orange: #FFCA7B;
$block-green: #B7EB8F;
$block-aqua: #7FEBD7;
$block-blue: #7BA0FF;
$block-purple: #A57BFF;
$block-pink: #EB8FD7;
$block-red: #FF7B7B;

$selected-blue: #32c5ff;
$selected-bg-blue: #dff6ff;


/* default theme
-------------------------*/
$color-default-pink: rgba(255, 67, 229, 1);
$color-default-blue: rgba(96, 133, 224, 1);
$grad-pink-to-blue: linear-gradient(62deg, #da80ef, #5db3ec);
$gray-dark: #6F6F6F;
$gray-middle: #ADADAD;
$gray-light: #E6E6E6;
$gray-lighter: #f2f2f2;

$text: #0F0F0F;
$text-gray: #797979;



